
 <main class="">
  <div class="flex mt- pt-2 bg-black h-20 fixed w-full top-0 z-40 ">
    <div class="flex gap-4 pl-32 ">
      <img src="progress.png" class="w-14 " alt="">
      <p class=" text-4xl items-center text-amber-200 pt-4 ">Health Tracker</p>

    </div>

    
    <div class="flex gap-12 ml-12 mt-6">
      <a [routerLink]="['/']" class=" h-8 text-center align-center transform motion-safe:hover:scale-110 hover:text-white hover:bg-amber-500 
      focus-within:bg-amber-500 focus-within:text-white  text-amber-600	text-xl  font-medium px-4 py-1 rounded-lg ">Home</a>
      <a [routerLink]="['/table']" class="h-8 text-center align-center transform motion-safe:hover:scale-110 focus-within:bg-amber-500 focus-within:text-white hover:text-white hover:bg-amber-500  
       text-amber-600	text-xl  font-medium px-4 py-1 rounded-lg">Workout list</a>
      <a [routerLink]="['/graph']" class="h-8 text-center align-center transform motion-safe:hover:scale-110 hover:text-white hover:bg-amber-500
      focus-within:bg-amber-500 focus-within:text-white  text-amber-600	text-xl  font-medium px-4 py-1 rounded-lg">Plot</a>


    </div>


  </div>
  

  <a [routerLink]="['/']">
    <header class="brand-name">
     
    </header>
  </a>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main> 
